@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

html, body, #react-container {
  height: 100%;
}


@layer base {
  :root {
      --background: #212121;
      --foreground: 210 40% 98%;

      --dark: #FFFFFF;

      --card: #26303E;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: #1C222B;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: #E53935;
      --destructive-alt: #D1136B;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;

      --skeleton: #FFFFFF03;
      --plain: #FFFFFF08;
      --plain-foreground: #FFFFFF95;
      --hint: #B5C1D3;
      --hint-secondary: #78797E;
      --button: #2990FF;
      --button-alt: #2990FF;
      --divider: #FFFFFF05;
      --link: #2990FF;
      --green: #00D159;
      --cyan: #03C9C1;
  }

}

html {
  color-scheme: dark;
}

@layer components {
  .tap-effect {
    @apply duration-75 enabled:active:scale-[.97] ease-in-out;
  }

  .btn-primary {
    @apply bg-button text-lg text-white font-bold flex items-center justify-center py-2.5 rounded-xlg;
  }

  .btn-secondary {
    @apply px-10 py-1 text-button-alt tap-effect border border-button-alt rounded-3xl font-bold text-base-lg flex items-center justify-center ;
  }
}
